@font-face {
  font-family: 'TTLakes black';
  src: url("../shared/fonts/TTLakes-Black.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'TTLakes blackItalic';
  src: url("../shared/fonts/TTLakes-BlackItalic.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'TTLakes bold';
  src: url("../shared/fonts/TTLakes-Bold.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'TTLakes boldItalic';
  src: url("../shared/fonts/TTLakes-BoldItalic.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'TTLakes medium';
  src: url("../shared/fonts/TTLakes-Medium.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'TTLakes regular';
  src: url("../shared/fonts/TTLakesCompressed-Regular.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}
