@font-face {
  font-family: "TT Lakes";
  src: local("TT Lakes Regular"), url("../shared/fonts/TTLakes-Regular.woff") format("woff"), url("../shared/fonts/TTLakes-Regular.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Lakes";
  src: local("TT Lakes Medium"), url("../shared/fonts/TTLakes-Medium.woff") format("woff"), url("../shared/fonts/TTLakes-Medium.eot") format("embedded-opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Lakes";
  src: local("TT Lakes Bold"), url("../shared/fonts/TTLakes-Bold.woff") format("woff"), url("../shared/fonts/TTLakes-Bold.eot") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
