.modal-window {
  padding: 24px 16px 24px 16px;
  position: fixed;
  overflow-y: auto;
  height: 100%;
  top: 0;
  right: -150%;
  background-color: $color-white;
  z-index: 3;
  width: 288px;
  transition: right 500ms ease-in-out;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);

  @media (min-width: 1440px) {
    width: 520px;
    display: flex;
    justify-content: right;
    padding: 0;
    background-color: $color-secondary-black;
    box-shadow: none;
  }

  &__wrapper {
    @media (min-width: 1440px) {
      width: 376px;
      padding: 24px 32px 24px 32px;
      box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
      background: $color-white;
      z-index: 3;
    }
  }
}

.modal {
  &__title {
    margin: 40px 0 24px 0;
    color: $text-color-main-black;
    font-family: TT Lakes;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;

    &::before {
      content: '';
      position: absolute;
      width: 4px;
      height: 40px;
      top: 105px;
      left: 0px;
      border-radius: 0 10px 10px 0;
      background-color: $color-main-turquoise;
    }

    @media (min-width: 1440px) {
      margin-top: 16px;
      &::before {
        top: 35px;
        left: 80px;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    min-width: 88%;
    height: 22px;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid $color-stroke-grey;
    background: $color-white;
    margin-bottom: 16px;
    font-family: 'TTLakes', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.2px;

    &:hover,
    &:focus {
      border-color: $color-main-turquoise;
      outline: 0;
    }
  }

  &__information {
    max-width: 288px;
    margin-bottom: 18px;
    color: text-color-main-grey;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 16px;
  }

  &__link {
    color: $color-main-pink;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 16px;
  }

  &__button {
    display: flex;
    gap: 10px;
    align-self: flex-end;
    align-items: center;
    min-width: 136px;
    height: 32px;
    padding: 4px 12px 4px 18px;
    background-color: $color-main-pink;
    border-radius: 16px;
    color: $color-white;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: -0.15px;
    text-transform: uppercase;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &--close {
      &:hover,
      &:focus {
        opacity: 0.6;
      }

      @media (min-width: 1440px) {
        position: absolute;
        left: 3px;
        top: 32.5px;
      }
    }
  }
}

.modal-call {
  &--open {
    right: 0;
  }
}

.modal-feedback {
  &__messages {
    height: 118px;
  }

  &--open {
    right: 0;
  }
}
