.sidebar-menu {
  z-index: 2;
  width: 320px;
  position: fixed;
  background-color: #fff;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  overflow-y: auto;
  left: -150%;
  transition: left 500ms ease-in-out;

  &--open {
    height: 100%;
    left: 0;
  }

  @media (min-width: 360px) {
    min-width: 360px;
  }

  @media (min-width: 768px) {
    min-width: 320px;
    width: 320px;
  }

  @media (min-width: 1440px) {
    display: block;
    position: static;
    box-shadow: none;
    z-index: 1;
  }

  &__header {
    padding: 18.73px 16px 0 16px;

    @media (min-width: 360px) {
      padding: 18.73px 24px 0 24px;
    }

    @media (min-width: 768px) {
      padding: 18.73px 24px 0 24px;
    }

    @media (min-width: 1440px) {
      padding-top: 34px;
    }
  }

  &__header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-container-part1 {
    display: flex;
    flex-direction: row;
    gap: 16.73px;
  }

  &__header-container-part2 {
    display: flex;
    flex-direction: row;
  }

  &__header-button {
    margin-top: 5.73px;

    &:focus,
    &:hover {
      opacity: 0.6;
      transition: 0.2s ease-in-out;
      cursor: pointer;
    }
  }

  &__navigation {
    margin: 26px 0 24px 0;
    padding: 0 16px 0 16px;

    @media (min-width: 360px) {
      margin-top: 24px;
      padding: 0 24px 0 24px;
    }

    @media (min-width: 768px) {
      margin: 50.27px 0 268px 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -16px;
    gap: 10px;

    @media (min-width: 360px) {
      margin-left: -24px;
    }
  }

  &__item {
    padding-top: 4px;
    padding-bottom: 4px;

    @media (min-width: 768px) {
      padding-top: 7px;
      padding-bottom: 7px;
    }

    &:focus,
    &:hover {
      content: '';
      width: 4px;
      background-color: #41f6d7;
      border-radius: 0px 10px 10px 0px;
      white-space: nowrap;
      transition: 0.2s ease-in-out;
    }
  }

  &__link {
    color: #1b1c21;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.2px;
    cursor: pointer;
    padding: 0 0 0 16px;

    @media (min-width: 360px) {
      padding: 0 0 0 24px;
    }

    &:focus,
    &:hover {
      color: #7e7e82;
      transition: 0.2s ease-in-out;
    }
  }

  &__footer {
    padding: 0 16px 32px 16px;

    @media (min-width: 360px) {
      padding: 0 24px 32px 24px;
    }
  }

  &__footer-list {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
  }

  &__footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    margin: 16px 0 8px 0;

    @media (min-width: 768px) {
      margin-bottom: 40px;
    }
  }

  &__number {
    font-family: TT Lakes;
    font-size: 24px;
    cursor: pointer;
  }

  &__mail {
    cursor: pointer;
  }

  &__language-list {
    display: flex;
    justify-content: flex-start;
    gap: 7px;
  }

  &__language-button {
    &--active {
      color: #7e7e82;
    }
  }

  &__language-button {
    &:focus,
    &:hover {
      color: #7e7e82;
      cursor: pointer;
      transition: 0.2s ease-in-out;
    }
  }

  &__footer-button {
    &:focus,
    &:hover {
      opacity: 0.6;
      transition: 0.2s ease-in-out;
      cursor: pointer;
    }
  }
}

.button-menu--open {
  height: 100%;
  left: 0;
}

.button-menu--close {
  @media (min-width: 1440px) {
    display: none;
  }
}
